<header class="myheader">
  <a href="/" style="all:unset ; cursor: pointer;"> <h1>HOME</h1> </a>
  <nav>
    <ul class="parent" >
      
      <li><a href="/add-new-article"> Add New Article </a></li>
      <li id="dark" class="mode">change mode</li>
    </ul>
  </nav>
</header>

