<header class="myheader">
  <a href="/" style="all:unset ; cursor: pointer;"> <h1>Courses4Arab</h1> </a>
  <nav>
    <ul class="parent">
      <li>
        <a href="https://courses4arab.com/#available-courses"> ALL Courses </a>
      </li>
      <li><a href="/add-new-article"> Add New Article </a></li>
      <li id="dark" class="mode">change mode</li>
      <li><a href=""> Support Us </a></li>
    </ul>
  </nav>
</header>

